<div class="container">
	<div class="row" id="gridMenu">
		<div class="btn-toolbar memGrid">
			<div class="btn-group" role="group">
				<span class="navbar-brand">{{question}}</span>
			</div>
			<div class="btn-group pull-right" role="group">
				<button class="btn btn-default" (click)="onClickReload()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
			</div>
			<div class="btn-group pull-right" role="group">
				<button class="btn btn-success disabled">
                    <span class="label label-success badge">{{countSuc}}</span>
                </button>
				<button class="btn btn-danger disabled">
                    <span class="label label-danger badge">{{countErr}}</span>
                </button>
			</div>
			<my-spinner [counterValue]="limit" (counterChange)="onChangeLimit($event)" bdgClass="glyphicon-th"></my-spinner>
			<my-spinner [counterValue]="seconds" (counterChange)="onChangeTimeout($event)" bdgClass="glyphicon-time"></my-spinner>
		</div>
	</div>
	<div class="row" style="text-align: center;">
		<div class="carousel slide card" data-ride="carousel" [ngClass]="cardClasses" *ngFor="let file of files"
			(click)="flipCard(file)">
			<div class="carousel-inner  img-thumbnail face front" role="listbox" [ngClass]="{hidden: !file.isFront}">
				<div class="item" [ngClass]="{active: file.isFront}">
					<img [src]="file.path" alt="{{file.name}}" title="{{file.name}}" class="img-responsive" />
					<div class="carousel-caption">{{file.name}}</div>
				</div>
			</div>
			<div class="carousel-inner img-thumbnail face back" [ngClass]="{hidden: file.isFront}">
				<div class="item" [ngClass]="{active: !file.isFront}">
					<img src="/components/cover.jpg" alt="{{file.name}}" title="{{file.name}}" class="img-responsive" />
				</div>
			</div>
		</div>
	</div>
</div>