<div class="container">
    <table style="width: 100%;">
        <tbody>
        <tr>
            <td colspan="2">
                <div class="container">
                    <p *ngIf="game.gameState == 0" class="bg-info">
                        Use your <span class="glyphicon glyphicon-move"></span> arrow keys to merge equal tiles.
                    </p>
                    <p *ngIf="game.gameState == 1" class="bg-success">
                        You win!
                    </p>
                    <p *ngIf="game.gameState == 2" class="bg-danger">
                        It looks like there is nothing you can do, except, maybe, start the game again...
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="container-fluid" myTiles2048 hammer-gestures (onGesture)="doSwipe($event)">
                    </div>
                </div>
            </td>
            <td style="width: 75px;" rowspan="2" class="media-right ">
                <div class="btn-group-vertical center-block" role="group">
                    <button class="btn btn-sm btn-default" style="display: inline;" (click)="newGame()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button class="btn btn-sm btn-primary disabled">
                        <span class="label label-primary badge">{{game.currentScore}}</span>
                    </button>
                    <button class="btn btn-sm btn-success disabled">
                        <span class="label label-success badge">{{game.highScore}}</span>
                    </button>
                </div>
                <div mySpinner [counterValue]="game.gameSize" [minValue]="2" [maxValue]="6"
                     (counterChange)="onChangeSize($event)" bdgClass="glyphicon-th"></div>
                <!--<div mySpinner [counterValue]="seconds" (counterChange)="onChangeTimeout($event)"-->
                <!--bdgClass="glyphicon-time"></div>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
