<button class="btn btn-primary pull-right" [routerLink]="['/team/player/new']">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New player
</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 50px;">#</th>
        <th>First name</th>
        <th>Last name</th>
        <!--<th>Birthday</th>-->
        <th>Gender</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of team; let i = index;" [routerLink]="['/team/player/edit', player._id]" style="cursor: pointer;">
        <td>{{i + 1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.lastName}}</td>
        <!--<td>{{player.birthday | date: 'dd-MMM-yyyy' }}</td>-->
        <td>{{ player.gender }}</td>
        <td>{{player.email}}</td>
    </tr>
    </tbody>
</table>