<div class="container">
    <div class="row">
        <div class="col-md-8">
            <canvas id="chartCanvas" #chartCanvas class="chart-canvas" width="300" height="300">
                Sorry, your browser doesn't support the &lt;canvas&gt; element.
            </canvas>
        </div>
        <div class="col-md-4">
            <p>Settings</p>
            <div class="container">
                <button class="btn btn-sm btn-default" (click)="onClickAddLine()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>
</div>
