.votingWdt {
}

    .votingWdt > .btn:first-child,
    .votingWdt > .btn:last-child {
        padding-bottom: 3px !important;
        padding-top: 3px !important;
    }

    .votingWdt > .btn:first-child {
        padding-bottom: 0 !important;
        border-bottom-width: 0;
    }

    .votingWdt > .btn.disabled {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        border-top-width: 0;
        border-bottom-width: 0;
    }

    .votingWdt > .btn:last-child {
        padding-top: 0 !important;
        border-top-width: 0;
    }
