<div id="container" class="container-fluid">
    <div class="row">
        <h1>Recognizing hand-written digits from MNIST dataset with Brain.js. Neural Networks live example.</h1>
        <p>
            Draw a digit in the box below and click the "recognize" button.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <canvas #sketchpad
                    (touchstart)="draw($event)"
                    (touchmove)="draw($event)"
                    (touchend)="draw($event)"
                    (mousedown)="draw($event)"
                    (mousemove)="draw($event)"
                    (mouseup)="draw($event)"
                    width="280" height="280">Sorry, your browser is not supported.
            </canvas>
        </div>
        <div class="col-lg-3">
            <canvas #thumbnail width="28" height="28">Sorry, your browser is not supported.</canvas>
        </div>
        <div class="col-lg-3">
            {{ result }}
        </div>
    </div>
</div>
<button class="btn btn-default" (click)="clear()">Clear</button>
<button class="btn btn-primary" (click)="recognise()">Recognise</button>

